In [1]:
import pandas as pd 
import sys 
sys.path.append('stationarity_diagnostics')
import lib 
import importlib
importlib.reload(lib)
import stationarity_diagnostics as sd

In [5]:
#carregando os dados 
df = pd.read_csv('macrodata.csv', sep=';', decimal=',')
df.head()

  Unnamed: 0   DBGG       PIB  JUROREAL  SPRIMARIO  CAMBIO  INFLACAO
0     dez/06  55.48  3.961989  9.079500       3.15  2.1499  3.141516
1     jan/07  56.16  4.011896  9.089545       3.49  2.1385  2.987813
2     fev/07  56.89  4.028214  9.026111       3.50  2.0963  3.018564
3     mar/07  57.24  4.191559  8.982273       3.41  2.0887  2.957038
4     abr/07  57.17  4.748780  8.952500       3.41  2.0320  2.998180

In [ ]:
df.rename(columns={df.columns[0]: 'Data'}, inplace=True)

In [7]:
df.head(4)

     Data   DBGG       PIB  JUROREAL  SPRIMARIO  CAMBIO  INFLACAO
0  dez/06  55.48  3.961989  9.079500       3.15  2.1499  3.141516
1  jan/07  56.16  4.011896  9.089545       3.49  2.1385  2.987813
2  fev/07  56.89  4.028214  9.026111       3.50  2.0963  3.018564
3  mar/07  57.24  4.191559  8.982273       3.41  2.0887  2.957038

In [8]:
meses_pt = {
    'jan': 1, 'fev': 2, 'mar': 3, 'abr': 4,
    'mai': 5, 'jun': 6, 'jul': 7, 'ago': 8,
    'set': 9, 'out': 10, 'nov': 11, 'dez': 12
}

def converter_data(data_str):
    try:
        mes_abv, ano = data_str.split('/')
        mes = meses_pt[mes_abv.lower()]
        ano = int(ano)
        ano += 2000 if ano < 30 else 1900
        return pd.Timestamp(year=ano, month=mes, day=1)
    except Exception:
        return pd.NaT

In [9]:
df['Data'] = df['Data'].apply(converter_data)
df.set_index('Data', inplace=True)

In [10]:
df.head()

             DBGG       PIB  JUROREAL  SPRIMARIO  CAMBIO  INFLACAO
Data
2006-12-01  55.48  3.961989  9.079500       3.15  2.1499  3.141516
2007-01-01  56.16  4.011896  9.089545       3.49  2.1385  2.987813
2007-02-01  56.89  4.028214  9.026111       3.50  2.0963  3.018564
2007-03-01  57.24  4.191559  8.982273       3.41  2.0887  2.957038
2007-04-01  57.17  4.748780  8.952500       3.41  2.0320  2.998180

In [11]:

# Executar função
resultados_pfaff = sd.rodar_adf_pfaff(df)
print(resultados_pfaff)

                      Processo Gerador
DBGG       Passeio Aleatório sem Drift
PIB        Passeio Aleatório sem Drift
JUROREAL   Passeio Aleatório sem Drift
SPRIMARIO  Passeio Aleatório sem Drift
CAMBIO     Passeio Aleatório sem Drift
INFLACAO   Passeio Aleatório sem Drift